[Desktop Entry]
Encoding=UTF-8
Name=Peru Learns English
Comment=
Exec=/usr/bin/peru_learns_english
Terminal=false
Type=Application
Icon=/usr/local/share/peru-learns-english/Iconos/icono.svg
Categories=Education
StartupNotify=true
MimeType=
